#abc{margin: 50px 0 0 500px;}
#doraemon{position: relative;}

.head { 
            position:relative; 
            width: 320px; 
            height: 300px; 
            border-radius: 150px; 
            background: #07bbee; 
            background: -webkit-radial-gradient(right top,#fff 10%,#07bbee 20%,#09aedc 75%,#272727); 
            background: -moz-radial-gradient(right top,#fff 10%,#07bbee 20%,#09aedc 75%,#272727); 
            background: -ms-radial-gradient(right top,#fff 10%,#07bbee 20%,#09aedc 75%,#272727);           
            border:2px solid #555; 
            box-shadow:-5px 10px 15px rgba(0,0,0,0.45); 
} 

.face{
	position: relative;
	z-index: 2;
}

.face .white{
	width: 265px;
	height: 195px;
	position: absolute;
	border-radius: 150px;
	top: 75px;
	left: 25px;
	background: #FFFFFF;
	background: -webkit-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
	background: -moz-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
	background: -ms-radial-gradient(right top,#fff 75%,#eee 80%,#999 90%,#444);
	
}

.face .nose{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #c93300;
	border: 2px solid #000;
	position: absolute;
	top: 110px;
	left: 140px;
	z-index: 3;
}

.face .nose_light{
	width: 15px;
	height: 15px;
	border-radius: 10px;
	box-shadow: 14px 8px 5px #FFFFFF;
}

.face .nose_line{
	width: 3px;
	height: 100px;
	background: #333;
	position: absolute;
	top: 143px;
	left: 155px;
	z-index: 3;
}















